html{
    box-sizing: content-box;
}


.container{
    width:90vw ;
    margin: 10px auto;
    max-width: 700px;
}


body{
 font-family: "Quicksand-light" sans-serif;
 margin: 1;
}

header.primary{
    background-color: darkslateblue;
    text-align: center;
    color: black;
}


header.primary h1{
    font-size: 5.4rem;
    margin: 40px;
    position: fixed;
    color: black;
}

header.primary h2{
font-size: 5.4rem;
margin: 40px;
position: fixed;
color:black


}


header.primary h3{
font-size: 5.4rem;
margin: 40px;
position: fixed;
color:black

}

header.primary h4{
font-size: 5.4rem;
margin: 40px;
position: fixed;
color: black;

}

header.primary h5{
font-size: 5.4rem;
margin:40px;
position: fixed;
color:black;

}

header.primary nav ul{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    max-width: 700px;
    margin: 10px auto;
}

header.primary nav li{
    list-style-type: none;
    width: 40%;
}

header.primary nav a:link{
    color: ghostwhite;
    background-color: lightslategrey;
    

}

header.primary nav a:visited{
    color: purple;
    
}
    


