/* 
Primary Color:#BF9B8E
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
   /*  --------------- Utility Classes -----------------  */
   .container{
    width: 70vw;
    max-width: 850px;
    background-color:#394D73;
    margin: 10px auto;
   }

   .img-left{
    float: left;
    border:5px solid #394D73;
    padding: 8px;
    margin: 30px 0 30px 40px;
   }

   .img-right{
    float: right;
    border:5px solid #394D73;
    padding: 8px;
    margin: 0px 0 30px 40px;
   }

   .img-center{
    display: block;
    border: 4px solid #394D73;
    padding: 3px;
    margin: 10px auto;
   }
    /*  --------------- Responsive Images -----------------  */
   img{
    max-width: 200%;
   }

  /*  --------------- Tables ------------------------  */

  table{
    width: 200%;
    border: 2px solid black;
    border-collapse:collapse;
  }

  table caption{
    font-weight: bold;
    margin: 50px;
  }




  table tr:nth-child(odd){
    background-color:rgba(0,0,0,.3);
  }
  table tr:hover{
    background-color: rgba(0, 0, 0, .1);
  }


  table th{
    background-color: #8C472E;
    color: #d96b2b;
    padding: 20px;
  }
  table td{
    border: 2px solid #ffffff;
    padding: 8px;
    text-align: left;
    width: 25%;
  }

  td:nth-child(4){
    text-align: right;
  }

  /*  --------------- Lists ------------------------  */

ol{
  list-style-type: lower-greek;
}

li{

}

ul ul{
  list-style-type: square;
  color: #f28B0C;
}

dl{}
dt{
  font-weight: bold;
}
dd{
  margin: 1;
}

dd + dt{
  margin-top: 40px;
  color: #f28B0C;
}


  /*  --------------- Global Styles -----------------  */
  
  body{
      font-family: 'Roboto', sans-serif;
      margin:0;
  }
  
  header.primary{
    background-color:#8C472E;
    text-align:center;
    color:#f2b807;
    padding:40px;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
     /* T,R,B,L */
    padding: 20px 40px 20px 40px;
    /* Two Value Top/Bottom / L/R */
    padding: 20px 40px;
    text-shadow:1px 1px #000000;
  }
  
  header.primary h1{
    font-size:2.4rem;
    margin: 20px 0 10px;
  }
  
  header.primary h1 a{
    color:#f2b807;
    text-decoration:none;
  }
  
  header.primary h2{
    font-size:1.4rem;
  }
  
  header.primary nav{
    max-width:960px;
    margin: 20px auto;
  }
  
  header.primary nav ul {
    padding: 3px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
  }
  
  header.primary nav ul li{
    list-style-type:none;
  }
  
  header.primary nav ul li a{
  color: #f28B0C;
  text-decoration:none;
  background-color:white;
  background-color: rgba(0,0,0,.4);
  padding:8px 16px;
  border-radius:20px;
  border: 2px solid rgba(0,0,0,.4);
  transition: 0.5s;
  {

    header.primary nav ul li a:hover,
    header.primary nav ul li a:active {
      background: rgba(0, 0, 0, 0.8);
    }

    @media screen and (max: width 700px;){
      header.primary nav ul {
        flex-direction:column;
        max-width: 300px;
        margin: auto;
    }

    header.primary nav a {
      display: block;
    }

    header.primary nav li {
      margin-bottom: 10px;
    }
    
    
  }

  #intro{

  }

  #intro h2{
    color: #d96b2b;
    border-bottom: 2px dotted #c0c0c0;
  }

  #content{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    gap:30px;
    border-bottom: 3px dotted #f2b807;
    padding-bottom: 4.5rem;
  }

  #content article.post{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
  }

  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

  }

  article.post figure{
    margin: 0;
  }

  time.post figure {
    margin: 0;
  }

  time.post-date,
  figcaption,
  .post
  {
    text-transform:uppercase;
    color:#c0c0c0
  }

  .post figure img{
    border: 6px solid #f2b807;
    padding: 3px;
    border-radius: 10px;
  }

  article.post a{
    color: #f28B0C;
  }

article.post a :hover{
  text-decoration: none;
}

#pratice h2{
  color: #3b638b;
  border-bottom: #ffffff;
}




aside[role="complementary"]{
  background-color: #fff;
  color: #d96b2b;
}

a[target="_blank"]{
  color:black;
  padding:2.9rem;
}

aside .container{
  display:flex;
  gap:40px;
}

aside. widget a: last-of-type{
  display:block;
  text-align:right;
  padding-top: 30px;
  color:black;
}

aside . widget footer{
  display: none;
}

#colophon {
  background-color: #3b638b;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
}
  