html{
    box-sizing: content-box;
}


.container{
    width:90vw ;
    margin: 10px auto;
    max-width: 700px;
}


body{
 font-family: monospace;
 background-color: darkslateblue;
 margin: 1;
}

header.primary{
    background-color: darkslateblue;
    font-family: monospace;
    font-size:5.4rem;
    margin: 15px 0;
    position: relative;
    color: black;
}


header.primary h1{
    background-color: darkslateblue;
    color: ghostwhite;
    font-family: monospace;
    font-size: 5.4rem;
    margin: 15px 0;
    position: relative;
}




header.primary h2{
background-color: black;
color: ghostwhite;
font-family: monospace;
font-size: 4rem;
margin:20px auto;
}


header.primary h3{
background-color: black;
color: ghostwhite;
font-family: monospace;
font-size: 4rem;

}

header.primary h1 a{
    background-color: darkslateblue;
    color: ghostwhite;
    font-family: monospace;
    font-size: 4rem;
}


header.primary h1 b{
    background-color: darkslateblue;
    color: ghostwhite;
    font-family: monospace;
    font-size: 4rem;
}







header.primary nav ul{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    max-width: 700px;
    margin: 10px auto;
}

header.primary nav li{
    list-style-type: none;
    width: 40%;
}

header.primary nav a:link{
    color: ghostwhite;
    background-color: lightslategrey;
    

}

header.primary nav a:visited{
    color: purple;
    
}
    


